<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Demo Suite">
	<test name="Flights" preserve-order="true">
		<classes>
			<class name="factorypattern.FlightsHomePage">
				<methods>
					<include name="verifyLandingPage"/>
					<parameter name="originCountry" value="Germany" />
					<parameter name="originState" value="Munich (MUC)" />
					<parameter name="destinationCountry" value="Greece" />
					<parameter name="destinationState" value="Mykonos (JMK)" />					
					<include name="selectOriginAndDestination"/>					
					<parameter name="travelStartDate" value="28" />
					<parameter name="travelReturnDate" value="29" />
					<include name="selectDate"/>
					<include name="getSelectedOriginStateAndDestinationStateText"/>
					<include name="selectNumberOfAdultPassengers"/>
					<include name="selectNumberOfChildPassengers"/>			
					<include name="clickFindFlightsButton"/>	
					<include name="verifySummaryPageIsOpened"/>								
					<include name="getDetailsFromSummaryPage"/>					
					<include name="verifyPassengerInformationPageIsOpened"/>					
					<parameter name="adultPassengerFirstName" value="LockieFerguson " />
					<parameter name="adultPassengerSecondName" value="JasonMohammed" />				
					<include name="enterAdultFirstNameAndLastName"/>					
					<parameter name="childPassengerFirstName" value="ChadwickWaltonSheldon" />
					<parameter name="childPassengerSecondName" value="Smith" />					
					<include name="enterChildFirstNameAndLastName"/>
																	
				</methods>
			</class>
		</classes>
	</test>
</suite>